In [3]:
import PublicDataReader as pdr
print(pdr.__version__)

serviceKey = 'Arjt7EQRVOdUPjLvpxVjFg9RvfEbWJb%2Bd5qNQ1h%2B9Q6nF37OgOVZNqGNZy4pW8XiYeBmrSeq%2BYUOi1N%2Bn2kgYg%3D%3D'

molit = pdr.Transaction(serviceKey)

# 지역코드 조회
bdongName = '분당구'
codeResult = molit.CodeFinder(bdongName)
display(codeResult.head())

# 특정 월 아파트매매 실거래 자료 조회
df = molit.AptTrade(41135, 202004)
display(df.head())

# 특정 기간 아파트매매 실거래 자료 조회
df_sum = molit.DataCollector(molit.AptTrade, 41135, 202001, 202003)
display(df_sum.head())

>>> PublicDataReader Version : 2021.4.12

- Author : Wooil Jeong
- E-mail : wooil@kakao.com
- Github : https://github.com/WooilJeong/PublicDataReader
- Blog : https://wooiljeong.github.io

>>> 아파트매매 실거래자료 조회 서비스가 정상 작동합니다.
>>> 아파트매매 실거래 상세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 아파트 분양권전매 신고 자료 조회 서비스가 정상 작동합니다.
>>> 오피스텔 매매 신고 조회 서비스가 정상 작동합니다.
>>> 오피스텔 전월세 신고 조회 서비스가 정상 작동합니다.
>>> 연립다세대 매매 실거래자료 조회 서비스가 정상 작동합니다.
>>> 연립다세대 전월세 실거래자료 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 매매 실거래 조회 서비스가 정상 작동합니다.
>>> 단독/다가구 전월세 자료 조회 서비스가 정상 작동합니다.
>>> 토지 매매 신고 조회 서비스가 정상 작동합니다.
>>> 상업업무용 부동산 매매 신고 자료 조회 서비스가 정상 작동합니다.

              법정동명  법정구코드
0      경기도 성남시 분당구  41135
1  경기도 성남시 분당구 분당동  41135
2  경기도 성남시 분당구 수내동  41135
3  경기도 성남시 분당구 정자동  41135
4   경기도 성남시 분당구 율동  41135

    지역코드  법정동        거래일               아파트   지번   전용면적   층  건축년도   거래금액
0  41135  구미동 2020-04-01  무지개(12단지)(주공뜨란체)  212  58.14   2  1995  49800
1  41135  구미동 2020-04-03  무지개(12단지)(주공뜨란체)  212  58.14   8  1995  50800
2  41135  구미동 2020-04-03     까치마을(2단지)(주공)   88  49.67  23  1996  57000
3  41135  구미동 2020-04-04      무지개(5단지)(청구)  221  58.49  10  1995  59600
4  41135  구미동 2020-04-06      무지개(3단지)(신한)  201  53.46   1  1996  38000

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일            아파트   지번    전용면적   층  건축년도    거래금액
0  41135  구미동 2020-01-03  까치마을(2단지)(주공)   88   49.36   8  1995   53200
1  41135  구미동 2020-01-03  까치마을(3단지)(신원)   66  162.87  17  1995  130000
2  41135  구미동 2020-01-03  무지개(10단지)(삼성)  222  101.82  15  1996   74000
3  41135  구미동 2020-01-04   무지개(3단지)(건영)  201   68.16   6  1996   61250
4  41135  구미동 2020-01-04   무지개(3단지)(건영)  201   68.16   6  1996   60000

In [4]:
df = molit.AptTrade(41135, 200601)
display(df.head())

    지역코드  법정동        거래일            아파트   지번    전용면적   층  건축년도   거래금액
0  41135  구미동 2006-01-02  무지개(10단지)(삼성)  222  101.82  11  1996  58500
1  41135  구미동 2006-01-03   무지개(4단지)(주공)  220   58.14   4  1995  20400
2  41135  구미동 2006-01-05  까치마을(3단지)(신원)   66  130.83   2  1995  82000
3  41135  구미동 2006-01-06  하얀마을(5단지)(주공)  110   39.01   6  1996  11500
4  41135  구미동 2006-01-07  까치마을(3단지)(신원)   66  130.83   3  1995  87000

In [5]:
df = molit.LandTrade(41135, 202010)

display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역코드    93 non-null     int64
 1   법정동     93 non-null     object
 2   거래일     93 non-null     datetime64[ns]
 3   시군구     93 non-null     object
 4   용도지역    93 non-null     object
 5   지목      93 non-null     object
 6   지분거래구분  0 non-null      float64
 7   거래면적    87 non-null     float64
 8   거래금액    93 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 6.7+ KB

None